*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

}
#piepagina{
    box-sizing: border-box;
    justify-content: left;
    justify-items: left;
    
}
li{
    
}
img{
    width: 10%;
    
}
ul{
    display: flex;
    flex-direction: column;
    
    
    
}
#navegador{
    animation: normal;
}
#boton-contacto{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}
#boton-estudios{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
 }
 #boton-proyectos{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
 }
 #boton-trabajo{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
    
      
 }